body {
    background-color: gray;
    text-align: center;
}
/* no longer in use
.dropzone {
    width: 200px;
    height: 200px;
    background-color: red;
    float: left;
    display: flex;
    border: solid 2px;
    margin: 2px;
}*/
.container-fluid {
    margin-top: 100px;
    display: table;
    width: 500px;
}
.cell {
    background-color: white;
    height: 66px;
    width: 100px;
    display:  table-cell;
    border: solid 3px ;
    vertical-align: middle;
}

.incell {
    background-color: #42a4ff;
    height: 60px;
    width: 100px;
    display:  table-cell;
    /*border: solid 3px ;*/
    vertical-align: middle;
}


.row {
  margin: auto;
  width: 500px;
  text-align: center;
  /*background-color: red;*/
  display: table-row;
}

table {
    width: 400px;
    table-layout: fixed;
}

p {
    font-size: 16px;
    color: white;
}

td {
  width: 100px;
  height: 50px;
  text-align: center;
  background-color: blue;
  position: static;
}

tr {
    width: 100px;
    background-color: green;
}

span {
  background-color: white;
  width: 49px;
  height: 49px;
}
