body {
    background-color: white;
    text-align: center;
}

.container-fluid {
    margin-top: 100px;
    display: table;
    width: 500px;
}
.cell {
    background-color: white;
    height: 66px;
    width: 100px;
    display:  table-cell;
    border: solid 3px white;
    vertical-align: middle;
        border-radius: 50%;
}

.incell {
    background-color: #42a4ff;
    height: 60px;
    width: 100px;
    display:  table-cell;
    /*border: solid 3px ;*/
    vertical-align: middle;
        border-radius: 30%;
}

.row {
  margin: auto;
  width: 500px;
  text-align: center;
  /*background-color: red;*/
  display: table-row;
}

p {
    font-size: 16px;
    color: white;
}

h1 {
  font-size: 46px;
  color: orange;
}
